@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@using StackExchange.Profiling

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
    @RenderBody()

    @Html.Raw(MiniProfiler.RenderIncludes().ToHtmlString())
</body>
</html>
